---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/reviews?api_key=DONT_EXPOSE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a81bfceb00a46eee71e65ce53ffc882445fdc38e
      X-Memc-Age:
      - '11150'
      X-Memc-Expires:
      - '10450'
      Etag:
      - W/"11e92ebf84c36de84896c5a79416721d"
      Last-Modified:
      - Sun, 07 Feb 2021 21:52:39 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"page":1,"results":[{"author":"BradFlix","author_details":{"name":"","username":"BradFlix","avatar_path":null,"rating":null},"content":"I
        just plain love this movie!","created_at":"2013-12-01T23:11:51.416Z","id":"529bc23719c2957215011e7b","updated_at":"2013-12-02T07:43:56.302Z","url":"https://www.themoviedb.org/review/529bc23719c2957215011e7b"},{"author":"Andres
        Gomez","author_details":{"name":"Andres Gomez","username":"tanty","avatar_path":"/https://secure.gravatar.com/avatar/03a53cd53b8254fe582d4fe1acc26c4e.jpg","rating":3.0},"content":"Far
        from being a good movie, with tons of flaws but already pointing to the pattern
        of the whole Ritchie''s filmography.","created_at":"2014-04-24T00:11:47.766Z","id":"535856c30e0a26069400064c","updated_at":"2014-04-24T02:37:06.854Z","url":"https://www.themoviedb.org/review/535856c30e0a26069400064c"},{"author":"David
        Perkins","author_details":{"name":"David Perkins","username":"Prkns","avatar_path":"/https://secure.gravatar.com/avatar/a37c204421ae6672ffec79b616e6f1c0.jpg","rating":9.0},"content":"Genuinely
        one of my favorite movies of all time. Watched again recently and realised
        how well written, brilliantly shot, beautifully cast and cleverly produced
        this movie actually is!","created_at":"2017-01-09T12:24:47.234Z","id":"5873810f9251410e71009a68","updated_at":"2017-01-09T14:11:51.288Z","url":"https://www.themoviedb.org/review/5873810f9251410e71009a68"}],"total_pages":1,"total_results":3}'
  recorded_at: Sun, 07 Feb 2021 22:16:23 GMT
recorded_with: VCR 6.0.0
