---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT_EXPOSE_MY_DATA&query=Untitled%20Spy%20Kids%20Reboot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[10751,12,28],"id":790493,"original_language":"en","original_title":"Untitled
        Spy Kids Reboot","overview":"A reboot of the family franchise centred around
        a multi-cultural family of spies.","popularity":0.943,"poster_path":null,"release_date":"","title":"Untitled
        Spy Kids Reboot","video":false,"vote_average":0,"vote_count":0}],"total_pages":1,"total_results":1}'
  recorded_at: Mon, 08 Feb 2021 23:09:19 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT_EXPOSE_MY_DATA&page=2&query=Untitled%20Spy%20Kids%20Reboot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ad2f664d2b0a17a0d4395bc0df03aaf3
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":1,"total_results":1}'
  recorded_at: Mon, 08 Feb 2021 23:09:19 GMT
recorded_with: VCR 6.0.0
