---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/790493?api_key=DONT_EXPOSE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4d89ed99fb7cf03409d2b6d4d189f20bb9c276f6
      X-Memc-Age:
      - '14115'
      X-Memc-Expires:
      - '7485'
      Etag:
      - W/"46ae027bcf2d33d9a8ff9b6230da7f0c"
      Last-Modified:
      - Wed, 10 Feb 2021 23:42:20 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":10751,"name":"Family"},{"id":12,"name":"Adventure"},{"id":28,"name":"Action"}],"homepage":"","id":790493,"imdb_id":null,"original_language":"en","original_title":"Untitled
        Spy Kids Reboot","overview":"A reboot of the family franchise centred around
        a multi-cultural family of spies.","popularity":0.634,"poster_path":null,"production_companies":[{"id":82819,"logo_path":"/5Z8WWr0Lf1tInVWwJsxPP0uMz9a.png","name":"Skydance
        Media","origin_country":"US"},{"id":143790,"logo_path":null,"name":"Spyglass
        Media Group","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"","revenue":0,"runtime":0,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Planned","tagline":"","title":"Untitled
        Spy Kids Reboot","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Thu, 11 Feb 2021 02:21:24 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/790493/credits?api_key=DONT_EXPOSE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c7f0da79b2e2c52ecaa2aa0790dce6451d778633
      X-Memc-Age:
      - '10412'
      X-Memc-Expires:
      - '11188'
      Etag:
      - W/"50c48a2e9a3f8db65842b64bf5069caf"
      Last-Modified:
      - Wed, 10 Feb 2021 23:42:20 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":790493,"cast":[],"crew":[{"adult":false,"gender":2,"id":2294,"known_for_department":"Directing","name":"Robert
        Rodriguez","original_name":"Robert Rodriguez","popularity":5.232,"profile_path":"/bPqRdLWWwpOT8sBdj9PWOzNgwou.jpg","credit_id":"601078b3ccde04003f25ce63","department":"Writing","job":"Screenplay"},{"adult":false,"gender":2,"id":2294,"known_for_department":"Directing","name":"Robert
        Rodriguez","original_name":"Robert Rodriguez","popularity":5.232,"profile_path":"/bPqRdLWWwpOT8sBdj9PWOzNgwou.jpg","credit_id":"601078879a6435003f94c079","department":"Directing","job":"Director"},{"adult":false,"gender":2,"id":4507,"known_for_department":"Production","name":"Gary
        Barber","original_name":"Gary Barber","popularity":0.764,"profile_path":"/5hl0IF9xGyWojIQj0kMrWh88BNw.jpg","credit_id":"601078c50b5fd6003c61d3fc","department":"Production","job":"Executive
        Producer"},{"adult":false,"gender":0,"id":1662775,"known_for_department":"Production","name":"Peter
        Oillataguerre","original_name":"Peter Oillataguerre","popularity":0.697,"profile_path":null,"credit_id":"601078e10e597b004134d4de","department":"Production","job":"Executive
        Producer"}]}'
  recorded_at: Thu, 11 Feb 2021 02:21:24 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/790493/reviews?api_key=DONT_EXPOSE_MY_DATA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - a475bca48cbd10e20ffb054d653580cd8f44660a
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-01-26 23:52:18 +0000'
    body:
      encoding: UTF-8
      string: '{"id":790493,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 11 Feb 2021 02:21:24 GMT
recorded_with: VCR 6.0.0
